<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <style>
        body {
  background-image: url("https://www.lastmovieoutpost.com/wp-content/uploads/2022/12/worst_2022_header.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
    header {
        text-align: center;
        color: red;
    }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to you're Watchlist!</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/shows">TV Shows</a>
                    </li>
                    <li>
                        <a href="/movies">Movies</a>
                    </li>
                </ul>
            </nav>
        </header>
</body>
</html>